<h1>Private page</h1>

<img
  src="https://media0.giphy.com/media/qrwthQPPQrtEk/giphy.gif?cid=ecf05e47344ef1da33d2928c5ed7f97baabe2d64f1ea2383&ep=v1_gifs_gifId&rid=giphy.gif&ct=g"
/>

<a href="/main">Back to profile</a>
<a href="/">Back to home</a>
